@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/reset";

body, html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;

  @include all-mobile {
    overflow-y: visible;
  }
}

html {
  font-size: 62.5%;

  @include lgDesktop {
    font-size: 85%;
  }
}

body {
  margin: 0;
  padding: 0;
  background: $bgColor;
  color: $mainFontColor;
  font-family: $mainFont;
  font-weight: 100;
  font-size: 1.6rem;
}

h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 120%;

  @include all-mobile {
    font-size: 3rem;
  }
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
  padding-left: 22px;

  @include all-mobile {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: bold;
}

.container {
  @include all-mobile {
    padding-left: 18px!important;
    padding-right: 18px!important;
  }
}

.accent-color {
  color: $accentColor;
}

img.lazy {
  height: auto;
  width: 100%;
  border: 0;
  transition: all .3s ease;

  &.initial {
    filter: blur(10px);
  }

  &.loaded {
    filter: none;
  }
}

.logo {
  @include desktop {
    width: 218px;
    height: 51px;
  }

  @include tablet {
    width: 190px;
    height: 51px;
  }

  @include all-mobile {
    width: 160px;
    height: 40px;
    left: -1000px;

    &.active {
      left: 48px;
    }
  }
}

.underlined {
  position: relative;
  z-index: 100;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 70%;
    background-color: $accentColor;
    height: 10px;
    width: 100%;
    z-index: -1;
  }

  &.overline {
    &::before {
      width: 104%;
    }
  }

  &.md {
    &::before {
      height: 7px;
    }
  }

  &.sm {
    &::before {
      height: 5px;
    }
  }

  &.glow {
    &::before {
      box-shadow: 0 0 8px $accentColor;
    }
  }
}

// Components
// @import "components/my-module.scss";
@import "components/swiper-style";
@import "components/button";
@import "components/input";
@import "components/checkbox";
@import "components/header_mobile";
@import "components/menu_mobile";
@import "components/decor-lines";
@import "components/artifacts";
@import "components/carousel";
@import "components/listed-carousel";
@import "components/capacity";
@import "components/arrow-next";
@import "components/map-pin";
@import "components/sliders/card-slider";
@import "components/sliders/coverflow-slider";
@import "components/sliders/license-slider";
@import "components/slides/main-slide";
@import "components/slides/slide-manufacture-1";
@import "components/slides/slide-manufacture-2";
@import "components/slides/slide-building-1";
@import "components/slides/slide-building-2";
@import "components/slides/slide-3";
@import "components/slides/slide-5";
@import "components/slides/slide-6";
@import "components/slides/slide-7";
@import "components/slides/last-slide";
@import "components/popups/map-popup";
@import "components/popups/popup";
@import "components/popups/cookie-consent";
@import "components/popups/agree-popup";
@import "components/popups/success-popup";
@import "components/popups/request-popup";
