.agree-popup {

  &.active {
    .agree-form {
      transform: translate(-50%, -50%);
    }
  }

  .agree-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 78px;
    max-width: 570px;
    background-color: $popupBgColor;
    transition: transform .6s ease;
    @include all-mobile {
      width: 90vw;
      height: 60vh;
      padding: 50px 52px;
    }

    @include lgDesktop {
      max-width: 670px;
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 18px;

      @include sm-phone {
        font-size: 3rem;
      }
    }

    .button {
      width: 165px;
    }

    &__close {
      position: absolute;
      right: 13px;
      top: 13px;
      cursor: pointer;
    }
  }
}
