.cookie-consent {
  position: fixed;
  width: 75vw;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgba(#1E1E1E, .75);
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 27px;

  @include all-mobile {
    width: 100vw;
    padding: 18px;
  }

  &__text {
    color: $greyColor;
    font-weight: 600;
    width: 70%;
    @include all-mobile {
      font-size: 1.2rem;
      margin-right: 16px;
    }
  }

  &__link {
    color: $accentColor;
    text-decoration: underline;
  }

  .button {
    height: 60%;
    @include all-mobile {
      min-width: 120px;
      text-align: left;
    }
  }
}