.map-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($bgColor, .65);
  z-index: 100;
  transform: translateX(-300%);
  opacity: 0;
  transition: transform 0s linear .6s, opacity .5s ease 0s;

  &.active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0s linear, opacity .5s ease .2s;

    .map-popup__map {
      transform: translateY(0);
      transition: transform .8s ease-in-out;
    }
  }

  &__map {
    position: absolute;
    width: 75vw;
    height: 60%;
    background-color: $bgColor;
    bottom: 0;
    right: 0;
    z-index: 999;
    transform: translateY(120%);
    transition: transform .6s ease-in-out;

    @include all-mobile {
      width: 100vw;
      height: 70%;
    }
  }

  &--close {
    position: absolute;
    right: 50px;
    top: -60px;
    padding: 10px 15px;
    border-radius: 40px;
    letter-spacing: 1px;
    transition: transform .3s ease;
    cursor: pointer;
    @include all-mobile {
      right: 10px;
      top: -50px;
    }

    &:hover {
      transform: translateY(-2px);
    }
  }
}

[class*="ymaps-2"][class*="-ground-pane"] {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}