.popup {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: rgba($bgColor, .65);
  transform: translateX(-300%);
  opacity: 0;
  transition: transform 0s linear .6s, opacity .5s ease 0s;

  &.active {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0s linear, opacity .5s ease .2s;
  }
}