.request-popup {

  &.active {
    .request-form {
      transform: translate(-50%, -50%);
    }
  }

  .request-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 49px 45px;
    max-width: 570px;
    background-color: $popupBgColor;
    transition: transform .6s ease;
    @include all-mobile {
      width: 90vw;
      padding: 49px 29px;
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 32px;

      @include all-mobile{
        font-size: 2.2rem;
      }
    }

    &__input {
      width: 100%;
      display: flex;
      align-items: flex-end;
      margin-bottom: 32px;
      @include all-mobile{
        margin-bottom: 18px;
      }

      label {
        font-size: 2.4rem;
        font-weight: 300;
        width: 23%;

        @include all-mobile{
          font-size: 1.8rem;
          width: 28%;
        }
      }

      .input-group {
        width: 77%;
        @include all-mobile{
          width: 72%;
        }

        .input {
          font-size: 1.6rem;
        }
      }
    }

    &__textarea {
      width: 100%;
      margin-bottom: 32px;
      background: transparent;
      padding: 16px;
      border: 1px solid rgba($greyColor, .5);
      color: rgba($greyColor, .5);
      font-size: 1.4rem;
      font-weight: 300;
      font-family: $mainFont;

      &:focus {
        border-color: rgba($greyColor, 1);
        color: rgba($greyColor, 1);

        &::placeholder {
          color: rgba($greyColor, 1);
        }
      }
    }


    &__close {
      position: absolute;
      right: 13px;
      top: 13px;
      cursor: pointer;
    }
  }
}