.success-popup {

  &.active {
    .success-form {
      transform: translate(-50%, -50%);
    }
  }

  .success-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 48px;
    max-width: 580px;
    background-color: $popupBgColor;
    transition: transform .6s ease;
    @include all-mobile {
      width: 90vw;
      height: 60vh;
      padding: 36px 16px;
    }

    @include lgDesktop {
      max-width: 670px;
    }

    &__title {
      font-size: 3.6rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 28px;

      @include all-mobile {
        font-size: 3rem;
      }

      @include sm-phone {
        font-size: 2.4rem;
      }
    }

    &__text {
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: 28px;
      text-align: center;

      @include sm-phone {
        font-size: 1.8rem;
      }
    }

    .button {
      width: 85px;
    }

    &__close {
      position: absolute;
      right: 13px;
      top: 13px;
      cursor: pointer;
    }
  }
}