.last-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-img {
    margin-left: 20px;
    @include all-mobile {
      margin-left: 0;
    }

    &__img {
      width: 72vw;
      position: relative;
      z-index: 100;

      @include all-mobile {
        width: 100%;
      }
    }

    &__label {
      font-size: 1.4rem;
      font-weight: 600;
      margin-top: 12px;
      margin-bottom: 12px;
      margin-left: 16px;
      @include all-mobile {
        margin-left: 11vw;
      }

      .underlined::before {
        height: 6px;
      }
    }

  }

  .artifacts {
    @include appear-animation(.5s);
    @include all-mobile {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .artifact-item {
      min-height: 90px;
      color: $whiteColor;

      &__text {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }
  }

  .sales-engineers {
    width: calc(72vw + 2px);
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding-bottom: 5vh;
    padding-top: 24px;
    background-color: $bgColor;
    z-index: 1;
    @include appear-animation(.5s);
    @include all-mobile {
      flex-direction: column;
      width: 100vw;
      margin-left: 0;
      padding-left: 22px;
      padding-right: 22px;
    }

    &__logo {
      width: 200px;
      height: 54px;
      flex: 0 0 auto;
      margin-right: 24px;
      @include all-mobile {
        margin-right: 0;
        margin-bottom: 24px;
      }
    }

    &__text {
      color: rgba($greyColor, .75);
      font-size: 1.4rem;
      font-weight: 600;
    }

    &__link {
      color: #DA2D2D;
      text-decoration: underline;

      &--mail {
        color: rgba($greyColor, .75);
      }
    }
  }
}

.swiper-slide {

  @include all-mobile {
    .last-slide {
      .artifacts {
        @include appear-animation-active;
      }

      .sales-engineers {
        @include appear-animation-active;
      }
    }

  }

  &-active {
    .last-slide {
      .artifacts {
        @include appear-animation-active;
      }

      .sales-engineers {
        @include appear-animation-active;
      }
    }
  }
}