.main-slide {
  padding-top: 25vh;

  @include all-mobile {
    padding-top: 40px;
    padding-bottom: 150px;
  }

  .main-title {
    padding-left: 20px;
    @include appear-animation(.5s);

    @media (max-width: 350px) {
      font-size: 2.8rem;
    }
  }

  .artifacts {
    margin-top: 10vh;
    @include appear-animation(.5s);

    @include all-mobile {
      margin-top: 42px;
    }
  }
}

.swiper-slide {

  @include all-mobile {
    .main-slide {
      .main-title {
        @include appear-animation-active;
      }
      .artifacts {
        @include appear-animation-active;
      }
  }

  }

  &-active {
    .main-slide {
      .main-title {
        @include appear-animation-active;
      }

      .artifacts {
        @include appear-animation-active;
      }

    }
  }
}