.manufacture-slide-2 {
  padding-top: 58px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include all-mobile {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .title {
    margin-bottom: 20px;
    @include appear-animation(.5s);
  }

  .card-slider {
    @include appear-animation(.5s);
  }

  .capacity {
    margin-top: 40px;
    @include appear-animation(.5s);

    @include all-mobile {
      margin-top: 24px;
    }
  }
}


.swiper-slide {
  @include all-mobile {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .manufacture-slide-2 {
            .title {
              @include appear-animation-active;
            }

            .card-slider {
              @include appear-animation-active;
            }

            .capacity {
              @include appear-animation-active;
            }
          }
        }
      }
    }
  }

  // oh my god that dumb nested swipers...
  &-active {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          &-active {
            .manufacture-slide-2 {
              .title {
                @include appear-animation-active;
              }

              .card-slider {
                @include appear-animation-active;
              }

              .capacity {
                @include appear-animation-active;
              }
            }
          }
        }
      }
    }
  }
}