.slide-5 {
  padding-top: 58px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include all-mobile {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .title {
    margin-bottom: 20px;
    @include appear-animation(.5s);
  }

  .coverflow-slider {
    @include appear-animation(.5s);
  }

  .capacity {
    margin-top: 24px;
    @include appear-animation(.5s);
  }
}


.swiper-slide {
  @include all-mobile {
    .slide-5 {
      .title {
        @include appear-animation-active;
      }
      .coverflow-slider {
        @include appear-animation-active;
      }
      .capacity {
        @include appear-animation-active;
      }
    }
  }

  &-active {
    .slide-5 {
      .title {
        @include appear-animation-active;
      }

      .coverflow-slider {
        @include appear-animation-active;
      }

      .capacity {
        @include appear-animation-active;
      }
    }
  }
}