.building-slide-1 {
  padding-top: 58px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include all-mobile {
    background-image: none!important;
    background-color: $bgColor;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .title {
    @include appear-animation(.5s);

    @include all-mobile {
      display: none;
    }
  }

  .capacity {
    @include appear-animation(.5s);

    @include all-mobile {
      display: none;
    }
  }
}




// oh my god that dumb nested swipers...
.swiper-slide {
  @include all-mobile {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .building-slide-1 {
            h2 {
              @include appear-animation-active;
            }

            .capacity {
              @include appear-animation-active;
            }
          }
        }
      }
    }
  }

  &-active {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          &-active {
            .building-slide-1 {
              h2 {
                @include appear-animation-active;
              }

              .capacity {
                @include appear-animation-active;
              }
            }
          }
        }
      }
    }
  }
}