.slide-6 {
  padding-top: 58px;
  padding-bottom: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include all-mobile {
    padding-top: 24px;
    padding-bottom: 24px;
    background-image: none !important;
  }

  .title {
    margin-bottom: 20px;
    @include appear-animation(.5s);
  }

  .license-slider {
    @include appear-animation(.5s);
  }

}


.swiper-slide {
  @include all-mobile {
    .slide-6 {
      .title {
        @include appear-animation-active;
      }
      .license-slider {
        @include appear-animation-active;
      }
    }
  }

  &-active {
    .slide-6 {
      .title {
        @include appear-animation-active;
      }

      .license-slider {
        @include appear-animation-active;
      }
    }
  }
}