.slide-7 {
  padding-top: 58px;

  @include all-mobile {
    padding-top: 24px;
    padding-bottom: 48px;
  }

  .title {
    margin-bottom: 50px;
    padding-left: 40px;
    @include appear-animation(.5s);
    @include all-mobile {
      margin-bottom: 24px;
      padding-left: 24px;
    }
  }

  &__info {
    width: 25vw;
    padding-left: 24px;
    @include appear-animation(.5s);
    @include all-mobile {
      width: 100vw;
      padding-left: 10vw;
      padding-right: 10vw;
    }

    .text {
      font-size: 1.8rem;
      font-weight: 300;
      margin-left: 16px;
      @include all-mobile {
        margin-left: 8px;
      }
    }

    .badges {
      margin-top: 70px;
      padding-left: 33px;
      @include all-mobile {
        padding-left: 0;
        margin-top: 0;
        margin-left: 8px;
      }

      &__item {
        display: flex;
        align-items: center;
        margin-top: 30px;

        &:nth-child(2) {
          margin-left: 5px;
          @include all-mobile {
            margin-left: 0;
            margin-top: 25px;
          }
        }

        .badge-text {
          margin-left: 18px;
          font-size: 1.8rem;
          font-weight: 300;
          color: $whiteColor;
        }

        .badge-pin {
          @include all-mobile {
            width: 30px;
          }
        }
      }
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 49vw;
    height: 100%;

    @include all-mobile {
      display: none;
    }

    &::after {
      position: absolute;
      left: -1px;
      top: 0;
      background-image: linear-gradient(90deg, #171717 10%, rgba(23, 23, 23, 0) 100%);
      width: 100%;
      height: 100%;
      content: '';
    }

    .map-img {
      width: 100%;
      height: 100%;
    }

  }

  &__map {
    .map-pin {
      @include appear-animation(.6s);
    }
  }

  &__map--mobile {
    display: none;

    @include all-mobile {
      display: block;
      margin-bottom: 24px;
      position: relative;
    }

    @include sm-phone {
      .map-pin {
        top: 25%;
        left: 43%;
      }
    }

    @include phone {
      .map-pin {
        top: 34%;
        left: 43%;
      }
    }

    @include sm-tablet {
      .map-pin {
        top: 38%;
        left: 45%;
      }
    }
  }
}

.swiper-slide {
  @include all-mobile {
    .slide-7 {
      .title {
        @include appear-animation-active;
      }

      &__info {
        @include appear-animation-active;
      }

      &__map {
        .map-pin {
          @include appear-animation-active;
        }
      }
    }
  }

  &-active {
    .slide-7 {
      .title {
        @include appear-animation-active;
      }

      &__info {
        @include appear-animation-active;
      }

      &__map {
        .map-pin {
          @include appear-animation-active;
        }
      }
    }
  }
}