// Fonts here

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-Thin.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-Thin.woff') format('woff'),
       url('../../fonts/Akrobat-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-ExtraLight.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-Thin.woff') format('woff'),
       url('../../fonts/Akrobat-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-ExtraLight.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-ExtraLight.woff') format('woff'),
       url('../../fonts/Akrobat-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-Light.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-Light.woff') format('woff'),
       url('../../fonts/Akrobat-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-Regular.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-Regular.woff') format('woff'),
       url('../../fonts/Akrobat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-SemiBold.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-SemiBold.woff') format('woff'),
       url('../../fonts/Akrobat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-Bold.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-Bold.woff') format('woff'),
       url('../../fonts/Akrobat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-ExtraBold.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-ExtraBold.woff') format('woff'),
       url('../../fonts/Akrobat-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Akrobat';
  src: url('../../fonts/Akrobat-Black.eot') format('embedded-opentype'),
       url('../../fonts/Akrobat-Black.woff') format('woff'),
       url('../../fonts/Akrobat-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
