// APPEAR ANIMATION
@mixin appear-animation($delay, $translate3d: translate3d(0, 20px, 0)) {
  opacity: 0;
  transform: $translate3d;
  transition: all .3s ease $delay;
}

@mixin appear-animation-active($translate3d: translate3d(0, 0, 0)) {
  opacity: 1;
  transform: $translate3d;
}

// TRANSLATE MENU ELEMENTS OUT ON MOBILE
@mixin translate-menu {
  @include sm-tablet {
    transform: translateX(-9000px);
  }
}

// MEDIA QUERIES
@mixin sm-phone {
  @media (min-width: $smPhoneWidth) and (max-width: 479px) { @content; }
}

@mixin phone {
  @media (min-width: $phoneWidth) and (max-width: 639px) { @content; }
}

@mixin sm-tablet {
  @media (min-width: $smTabletWidth) and (max-width: 959px) { @content; }
}

@mixin tablet {
  @media (min-width: $tabletWidth) and (max-width: 1199px) { @content; }
}

@mixin desktop {
  @media (min-width: $desktopWidth) { @content; }
}

@mixin lgDesktop {
  @media (min-width: $lgDesktopWidth) { @content; }
}

@mixin all-mobile {
  @media (max-width: 959px) {
    @content;
  }
}

@mixin all-desktop {
  @media (min-width: $tabletWidth) {
    @content;
  }
}