// Font
$mainFont                : "Akrobat";
$mainFontColor           : #EDEDED;

// Size
$lgDesktopWidth          : 1440px;
$desktopWidth            : 1200px;
$tabletWidth             : 960px;
$smTabletWidth           : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$bgColor                 : #171717;
$popupBgColor            : #1E1E1E;
$accentColor             : #DA2D2D;
$whiteColor              : #EDEDED;
$greyColor               : #CACAC8;
$paginationColor         : #CACAC8;

