.card-slider-sm {
  width: 100%;
  margin-bottom: 6px;

  @include all-mobile {
    height: 180px;
  }

  .card-slider-wrapper {
    @include all-mobile {
      height: 100%;
    }


    .card-slide {
      background-color: $bgColor;
      padding: 14px 24px;
      display: flex;
      align-items: flex-end;
      border:none;
      transition: all .3s ease;
      filter: brightness(.7);

      @include all-mobile {
        height: 100%;
        filter: none;

        &-img {
          filter: brightness(.55);
        }

        .card-list__item {
          color: rgba($whiteColor, .9);
        }
      }


      &:hover {
        filter: brightness(1);

        .card-slide-img {
          img {
            transform: scale(1.1);
          }
        }

      }

      &-img {
        display: inline-block;
        background: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, rgba(30, 30, 30, 0.88) 75.52%);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        img {
          position: relative;
          width: 100%;
          height: 100%;
          z-index: -1;
          display: block;
          transform: scale(1);
          transition: all .2s ease;
        }
      }

      .card-list {
        position: relative;
        z-index: 1;

        &__item {
          font-size: 1.4rem;
          font-weight: 400;
          color: $greyColor;
          margin-bottom: 3px;
          cursor: default;
        }
      }
    }
  }
}

.card-slider-lg {
  @extend .card-slider-sm;
}

// BUG FIX

.swiper-slide-manufacture {
  .manufacture-slide-2 {
    .card-slider .card-slider-wrapper .card-slide.swiper-slide-active {
      pointer-events: none;
    }

    .card-slider .card-slider-wrapper .card-slide {
      pointer-events: none;
    }
  }
}
.swiper-slide-manufacture.swiper-slide-active {
  .manufacture-slide-2 {
    .card-slider .card-slider-wrapper .card-slide.swiper-slide-active {
      pointer-events: auto;
    }

    .card-slider .card-slider-wrapper .card-slide {
      pointer-events: auto;
    }
  }
}

.swiper-slide-building {
  .building-slide-2 {
    .card-slider .card-slider-wrapper .card-slide.swiper-slide-active {
      pointer-events: none;
    }
  }
}
.swiper-slide-building.swiper-slide-active {
  .building-slide-2 {
    .card-slider .card-slider-wrapper .card-slide.swiper-slide-active {
      pointer-events: auto;
    }
  }
}