.coverflow-slider {
  width: 75vw;
  @include all-mobile {
    display: block;
    width: 100vw;
    height: 70vh;
  }

  .coverflow-slider-wrapper {
    height: 92%;
    display: flex;
    align-items: center;
    width: 75vw;

    @include all-mobile {
      height: 50%;
    }

    .coverflow-slide {

      display: flex;
      align-items: center;
      overflow: hidden;
      filter: brightness(.6);

      @include all-desktop {
        width: 460px !important;
      }


      @include all-mobile {
        overflow: visible;
      }

      .bg-image {
        position: relative;
        width: 100%;
        height: 100%;
        filter: blur(0);
        transition: .3s filter ease;
        border:none;
      }

      .bg-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgba(23, 23, 23, 0.75) 23.44%, rgba(23, 23, 23, 0) 100%);
        opacity: 0;
        transition: opacity .3s ease;

        @include all-mobile {
          display: none;
        }
      }

      &--hovered-inner {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all .3s ease;
        width: 80%;
        @include all-mobile {
          top: 55vh;
          left: 3.3vw;
          opacity: 0;
          z-index: 100;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 3px;
          height: 100%;
          background-color: $accentColor;
        }

        &__text {
          color: $whiteColor;
          font-size: 1.8rem;
          font-weight: 400;
          padding: 15px;
        }
      }


      &.swiper-slide-active {

        box-shadow: 0 0 20px rgba($accentColor, 0.5);
        filter: brightness(1);

        @include all-desktop {
          width: 460px !important;
        }

        @include all-mobile {
          .coverflow-slide--hovered-inner {
            opacity: 1;
          }
        }

      }
    }

    .coverflow-slide:hover.swiper-slide-active {

      .bg-image {
        filter: blur(2px);

        @include all-mobile {
          filter: none;
        }
      }

      .bg-gradient {
        opacity: 1;
      }

      .coverflow-slide--hovered-inner {
        opacity: 1;
      }
    }
  }

  .coverflow-button-next, .coverflow-button-prev {
    color: $greyColor;

    @include all-mobile {
      display: none;
    }
  }

  .coverflow-slider-scrollbar {
    width: 30%;
    background: $greyColor;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3.5px;

    @include all-mobile {
      bottom: 45%;
      width: 60%;
    }

    .swiper-scrollbar-drag {
      background: $accentColor;
      box-shadow: 0px 0px 8px $accentColor;
    }
  }
}

.main-swiper-slide.swiper-slide-active {
  .slide-3 .coverflow-slider .coverflow-slider-wrapper .coverflow-slide {
    pointer-events: all;
  }
  .slide-5 .coverflow-slider .coverflow-slider-wrapper .coverflow-slide {
    pointer-events: all;
  }
}
