.license-slider {
  width: 75vw;
  @include all-mobile {
    width: auto;
  }

  .license-slider-wrapper {
    display: flex;
    align-items: center;

    @include all-mobile {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .license-slide {
      width: 205px;
      height: 297px;

      @include all-mobile {
        width: 82px;
        height: 118px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 16px;

        &:hover {
          bottom: 0;
        }
      }

      &__link {
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 8px $accentColor;
        transition: all .3s ease;
        &:hover {
          transform: translateY(-15px);
        }

        @include all-mobile {
          &:hover {
            transform: none;
          }
        }
      }
    }

    .swiper-slide-active {

    }

    .swiper-slide-prev {

    }
  }

  .license-slider-scrollbar {
    width: 30%;
    background: $greyColor;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3.5px;

    @include all-mobile {
      display: none;
    }

    @include all-mobile {
      bottom: 45%;
      width: 60%;
    }

    .swiper-scrollbar-drag {
      background: $accentColor;
      box-shadow: 0px 0px 8px $accentColor;
    }
  }
}

.main-swiper-slide.swiper-slide-active {
  .slide-6 .license-slider .license-slider-wrapper .license-slide {
    pointer-events: all;
  }
}