.arrow-next {
  display: flex;
  position: absolute;
  top: 68px;
  right: 48px;
  cursor: pointer;
  z-index: 999;
  @include appear-animation(.5s, translate3d(-20px,0,0));

  @include all-mobile {
    display: none;
  }

  svg {
    margin-left: -6px;

    @include lgDesktop {
      width: 32px;
      height: 42px;
      margin-left: -10px;
    }

    &:nth-child(2) {
      path {
        stroke: $accentColor;
      }
    }

    //ANIMATION
    &:nth-child(1) {
      animation: swipe-right-animation 5s ease 0s infinite;
    }

    &:nth-child(2) {
      animation: swipe-right-animation 5s ease .2s infinite;
    }

    &:nth-child(3) {
      animation: swipe-right-animation 5s ease .4s infinite;
    }

    &:nth-child(4) {
      animation: swipe-right-animation 5s ease .6s infinite;
    }

  }
}

.arrow-back {
  @extend .arrow-next;
}

.swiper-slide {
  &-active {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          &-active {
            .arrow-next {
              @include appear-animation-active;
            }
          }
        }
      }
    }
  }
}

@keyframes swipe-right-animation {
  0%, 100% {
    transform: translateX(0);
  }
  66% {
    transform: translateX(10px);
  }
}