.artifacts {
  display: flex;
  margin-left: 20px;

  @include all-mobile {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10vw;
  }

  .artifact-item {
    min-height: 124px;
    width: 24vw;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 8px 16px;
    color: $greyColor;

    &:hover {
      &::before {
        box-shadow: 0 0 8px #DA2D2D;
      }
    }

    @include all-mobile {
      width: 75vw;
      min-height: 80px;
      padding-left: 14px;
      padding-right: 14px;

      &:not(:first-child) {
        margin-top: 6vh;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: -1px;
      top: 0;
      width: 3px;
      height: 100%;
      background-color: $accentColor;
      transition: all .3s ease;
    }

    &__title {
      font-size: 2.4rem;
      font-weight: bold;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: 300;
      opacity: .85;
      margin-top: 8px;
    }
  }
}