.button {
  min-width: 165px;
  text-transform: lowercase;
  font-family:  $mainFont;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 6px 12px;
  cursor: pointer;
  background-color: transparent;
  color: $greyColor;
  border: 1px solid $greyColor;
  transition: all .2s ease;

  @include lgDesktop {
    min-width: 220px;
  }

  &:hover {
    color: $accentColor;
    border-color: $accentColor;
  }

  &.filled {
    background-color: $accentColor;
    border-color: $accentColor;

    &:hover {
      color: $greyColor;
      box-shadow: 0 0 8px $accentColor;
    }
  }
}