.capacity {
  padding-left: 24px;
  padding-right: 50px;

  @include all-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    margin-bottom: 16px;

    @include all-mobile {
      font-size: 1.4rem;
    }
  }

  .range-slider {
    .range-slider__minmax {
      display: flex;
      justify-content: space-between;
      margin-bottom: 6px;
      font-size: 1.4rem;
      font-weight: 200;
      color: $greyColor;
    }

    &__main {
      position: relative;
      width: 100%;

      .input-range {
        -webkit-appearance: none;
        width: 100%;
        height: 1px;
        border-radius: 5px;
        background: $whiteColor;
        outline: none;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 17px;
          height: 17px;
          border-radius: 50%;
          background: $accentColor;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          box-shadow: 0 0 8px #DA2D2D;
          transition: background .15s ease-in-out;

          @include all-mobile {
            width: 7px;
            height: 7px;
          }

          &:hover {
            background: $accentColor;
          }
        }

        &:active::-webkit-slider-thumb {
          background: $accentColor;
        }

        &::-moz-range-thumb {
          width: 20px;
          height: 20px;
          border: 0;
          border-radius: 50%;
          background: $accentColor;
          cursor: pointer;
          -webkit-transition: background .15s ease-in-out;
          transition: background .15s ease-in-out;

          &:hover {
            background: $accentColor;
          }
        }

        &:active::-moz-range-thumb {
          background: $accentColor;
        }
      }
    }

    ::-moz-range-track {
      background: #ccc;
      border: 0;
    }
  }

  &__bottom {
    display: flex;
    margin-top: 24px;
    align-items: flex-end;

    @include all-mobile {
      flex-direction: column;
      align-items: center;
      margin-top: 16px;
    }

    .rows {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;

      @include all-mobile {
        flex-direction: column-reverse;
      }
    }

    &--row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-right: 24px;

      @include lgDesktop {
        &:nth-child(1) {
          width: 45% !important;
        }

        &:nth-child(2) {
          width: 45% !important;
        }
      }

      @include desktop {
        &:nth-child(1) {
          width: 60%;
        }

        &:nth-child(2) {
          width: 35%;
        }
      }

      @include tablet {
        &:nth-child(1) {
          width: 50%;
        }

        &:nth-child(2) {
          width: 40%;
        }
      }

      @include all-mobile {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

  }

}