.carousel {
  width: 52vw;
  height: 300px;
  margin: 7vh auto 3vh;
  position: relative;
  border-radius: 50%;
  z-index: 100;
  opacity: 0;


  @include all-mobile {
    display: none;
  }

  @include tablet {
    width: 60vw;
  }
}

.carousel__main {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
  opacity: 0;
}

.carousel__item {
  position: absolute;
  width: 150px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: move-x 500s linear infinite,
             move-y 500s linear infinite;
  font-size: 1.4rem;
  font-weight: 200;
  color: rgba($whiteColor, .5);
  cursor: default;
  transition: all .3s ease;

  @include lgDesktop {
    width: 190px;
  }

  &:hover {
    transform: scale(1.1) translateX(-50%) translateY(-50%);
    color: rgba($whiteColor, 1);
  }
}

.carousel:hover .carousel__item {
  animation-play-state: paused;
}

.swiper-slide {
  &-active {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          &-active {
            .carousel {
              animation: expansion .8s ease 1s,
                         opacity-in .8s ease 1s forwards;

              &__main {
                animation: opacity-in .5s 1.29s forwards;
              }
            }
          }
        }
      }
    }
  }
}

@include tablet {
  @keyframes expansion {
    0% {
      width: 0;
      height: 0;
    }
    100% {
      width: 60vw;
      height: 300px;
    }
  }
}

@keyframes expansion {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 52vw;
    height: 300px;
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-x {
  0% {
    left: 0;
    animation-timing-function: ease-in;
  }
  25% {
    left: 50%;
    animation-timing-function: ease-out;
  }
  50% {
    left: 100%;
    animation-timing-function: ease-in;
  }
  75% {
    left: 50%;
    animation-timing-function: ease-out;
  }
  100% {
    left: 0;
    animation-timing-function: ease-in;
  }
}

@keyframes move-y {
  0% {
    top: 50%;
    animation-timing-function: ease-out;
  }
  25% {
    top: 0;
    animation-timing-function: ease-in;
  }
  50% {
    top: 50%;
    animation-timing-function: ease-out;
  }
  75% {
    top: 100%;
    animation-timing-function: ease-in;
  }
  100% {
    top: 50%;
    animation-timing-function: ease-out;
  }
}