.checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  &__input {
    display: none;
    margin-right: 20px;
    background-color: $popupBgColor;
    width: 20px;
    height: 20px;
    border: 1px solid $greyColor;
  }

  &__label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 20px;
      height: 20px;
      background-color: transparent;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 0 0;
      border: 1px solid $greyColor;
      transition: all .1s ease;
    }

    &:hover {
      &::before {
        border: 1px solid $accentColor;
      }
    }

    &--text {
      font-size: 1.4rem;
      font-weight: 400;
      color: $greyColor;
    }
  }

  a {
    color: $accentColor;
    text-decoration: underline;
  }


  &__input:checked + &__label::before {
    //background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 5.693L0.585 5.09C1.5605 5.351 3.2415 5.9555 4.75 6.8885C6.3375 4.8 9.541 2.1895 11.478 1L12 1.5365L5 11L0 5.693Z' fill='%23CACAC8'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d)'%3E%3Cpath d='M9.04236 14.9177L14.0424 20.9177L21.5424 8.91772' stroke='%23DA2D2D'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0.658264' y='0.65271' width='29.3081' height='29.1156' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='4'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0.854902 0 0 0 0 0.176471 0 0 0 0 0.176471 0 0 0 1 0'/%3E%3CfeBlend mode='lighten' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-size: 22px 22px;
    transition: all .1s ease;
    border: 1px solid $accentColor;
    box-shadow: 0 0 8px #DA2D2D;
  }
}