//DECOR LINES

.decor {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;

  &__line {
    position: absolute;
    top: 0;
    width: 1px;
    min-height: 0;
    background-color: rgba($whiteColor, .1);
    transition: min-height .7s ease;

    &.active {
      min-height: 100%;

      &::before {
        transform: translateY(0);
        animation: decor-lines-transform 7s ease 2s infinite;
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 3px;
      height: 40px;
      top: -200px;
      left: -1px;
      background-color: rgba($accentColor, .5);
      transform: translateY(-1000px);
      transition: transform .8s ease 1s;

      @include all-mobile {
        transform: translateY(-7000px);
      }
    }

    &:nth-child(1) {
      left: calc(20px);
      &::before {
        top: 50vh;
      }

      @include all-mobile {
        left: 10vw;

        &::before {
          top: 5%;
        }
      }
    }

    &:nth-child(2) {
      left: calc(24vw + 20px);
      &::before {
        top: 10vh;
      }

      @include all-mobile {
        left: 50vw;

        &::before {
          top: 11vh;
        }
      }
    }

    &:nth-child(3) {
      left: calc(48vw + 20px);
      &::before {
        top: 20vh;
      }

      @include all-mobile {
        left: 90vw;

        &::before {
          top: 80vh;
        }
      }
    }

    &:nth-child(4) {
      left: calc(72vw + 20px);
      &::before {
        top: 80vh;
      }

      @include all-mobile {
        display: none;
      }
    }
  }
}

@keyframes decor-lines-transform {
  0%, 100% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(10px);
  }

  66% {
    transform: translateY(-10px);
  }
}