.header--mobile {
  display: none;

  @include all-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bgColor;
    position: fixed;
    width: 100%;
    height: 76px;
    z-index: 100;
  }

  &__left {

    .logo {
      margin-left: -5px;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    .sales-tel {
      font-size: 1.3rem;
      font-weight: 400;
      opacity: .75;
      text-transform: uppercase;
      color: $whiteColor;
      margin-right: 3vw;
      text-align: center;

      &__tel {
        color: $accentColor;
        text-decoration: underline;
        font-size: 1.5rem;
      }
    }
  }
}