.input-group {
  width: 45%;

  .error-message {
    display: none;
  }

  &.error {
    position: relative;

    @include all-mobile {
      margin-bottom: 6px;

      .error-message {
        bottom: -15px;
      }
    }

    .input {
      border-bottom: 1px solid $accentColor;
    }

    .error-message {
      display: block;
      position: absolute;
      left: 7px;
      bottom: -18px;
      color: $accentColor;
      font-size: 1.2rem;
      font-weight: 600;

      @include lgDesktop {
        bottom: -20px;
      }
    }
  }
}

.input {
  background: transparent;
  border-bottom: 1px solid rgba($greyColor, .5);
  color: rgba($greyColor, .5);
  width: 100%;
  font-family: inherit;
  font-weight: 300;
  font-size: 1.4rem;
  padding-left: 7px;

  &:focus {
    border-color: rgba($greyColor, 1);
    color: rgba($greyColor, 1);

    &::placeholder {
      color: rgba($greyColor, 1);
    }
  }
}

.input-suffix {
  display: flex;
  align-items: flex-end;
  width: 55%;
  min-width: 135px;

  @include all-mobile {
    width: 135px;
  }

  &.sm {
    width: 30%;
    min-width: 70px;

    @include all-mobile {
      width: 70px;

      .input-suffix__input {
        text-align: left;
      }
    }

    .input-suffix__input {
      width: 100%;
    }
  }

  &__prefix {
    padding-right: 3px;
  }

  &__input {
    background: transparent;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.6rem;
    color: $greyColor;
    width: 100%;
    padding-left: 3px;
    padding-right: 10%;
    text-align: left;
  }

  &__postfix {

  }

  &--underlined {
    position: relative;
    z-index: 100;
    display: flex;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: rgba($accentColor, .75);
      z-index: -1;
    }

  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
}