.listed-carousel {
  display: none;

  @include all-mobile {
    display: block;
  }

  .list {
    padding-top: 13px;
    margin-left: 10vw;

    &__item {
      font-size: 1.4rem;
      font-weight: 300;
      margin-left: 12px;
      margin-bottom: 8px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -14px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: $accentColor;
      }
    }
  }
}