.map-pin {
  position: absolute;
  top: 59%;
  left: 58%;
  z-index: 100;

  &__icon {
    position: relative;
    z-index: 101;
    cursor: pointer;
  }

  &__pulse {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba($accentColor, .1);
      transform: scale(1);
      animation: pulse-animation 2s ease-out infinite;
    }
  }

  &__tooltip {
    position: absolute;
    left: 150%;
    top: 50%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    width: 200px;
    opacity: 0;
    transition: all .3s ease;
    cursor: default;
  }

  .map-pin__icon:hover + .map-pin__tooltip{
    opacity: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@keyframes pulse-animation {
  0% {
    transform: scale(0);
    background-color: rgba($accentColor, .02);
  }
  70% {
    background-color: rgba($accentColor, .3);
  }
  100% {
    transform: scale(1);
    background-color: rgba($accentColor, 0);
  }
}