.menu--mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 26px 20px 70px 48px;
  background: $bgColor;
  transition: transform .7s ease;
  transform: translateX(-1000px);
  z-index: 999;

  @include all-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &.active {
    transform: translateX(0);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 40px;
    background-color: $paginationColor;
    height: 100%;
    width: 1px;
    z-index: 100;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &-right {
      display: flex;
      align-items: center;

      .sales-tel {
        font-size: 1.3rem;
        font-weight: 400;
        opacity: .75;
        text-transform: uppercase;
        color: $whiteColor;
        margin-right: 3vw;
        text-align: center;

        &__tel {
          color: $accentColor;
          text-decoration: underline;
          font-size: 1.4rem;
        }
      }
    }
  }

  &__pagination {

    .pagination {

      &__item {
        margin-left: 6px;
        margin-bottom: 20px;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -16px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: $paginationColor;
        }
      }

      &__link {
        color: $whiteColor;
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    max-width: 171px;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 6px;

    &-tel {
      position: relative;
      color: $whiteColor;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -16px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $accentColor;
        z-index: 100;
      }
    }

    &-mail {
      position: relative;
      color: $whiteColor;
      margin-top: 6px;
      margin-bottom: 19px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -16px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $accentColor;
        z-index: 100;
      }
    }
  }
}